.Theme {
    margin:10px;
    background: black;
    border-radius: 50px;
    color: white;
    height: 920px;
    position: relative;
    padding:20px;
    width: 480px;
}
.Top{
    height: 250px;
    justify-content: space-between;
    padding:20px;
}